In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("student-mat.csv", delimiter=";")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [17]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [18]:
x = ["age", "address", "famsize", "reason", "studytime", "famsup", "paid", "activities", "higher", "internet", "romantic", "freetime", "goout", "health", "G1", "G2", "absences", "schoolsup", "failures"]

In [24]:
X = df[x].values
Y = df["G3"].values

In [26]:
from sklearn.preprocessing import LabelEncoder

label1 = LabelEncoder()
X[: , 1] = label1.fit_transform(X[:, 1])

label2 = LabelEncoder()
X[: , 2] = label2.fit_transform(X[:, 2])

label3 = LabelEncoder()
X[: , 3] = label3.fit_transform(X[:, 3])

label5 = LabelEncoder()
X[: , 5] = label5.fit_transform(X[:, 5])

label6 = LabelEncoder()
X[: , 6] = label6.fit_transform(X[:, 6])

label7 = LabelEncoder()
X[: , 7] = label7.fit_transform(X[:, 7])

label8 = LabelEncoder()
X[: , 8] = label8.fit_transform(X[:, 8])

label9 = LabelEncoder()
X[: , 9] = label9.fit_transform(X[:, 9])

label10 = LabelEncoder()
X[: , 10] = label10.fit_transform(X[:, 10])

label17 = LabelEncoder()
X[: , 17] = label17.fit_transform(X[:, 17])

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=101)

In [31]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [33]:
from sklearn.metrics import mean_squared_error

y_pred = lr.predict(X_test)

mse = mean_squared_error(y_pred, y_test)

mse

3.0747612533460242