In [1]:
import pandas as pd

# Series are 1D

In [2]:
car_brands = pd.Series(["BMW", "Tesla", "Audi", "Benz", "Maruti"])

In [3]:
print(car_brands)

0       BMW
1     Tesla
2      Audi
3      Benz
4    Maruti
dtype: object

In [4]:
colors = pd.Series(["Red", "Blue", "Black", "Grey", "White"])

# Data Frames Are 2-D

In [5]:
data_frame = pd.DataFrame({"Cars": car_brands, "Colours" : colors})

In [6]:
print(data_frame)

     Cars Colours
0     BMW     Red
1   Tesla    Blue
2    Audi   Black
3    Benz    Grey
4  Maruti   White

In [7]:
# Importing Data
df = pd.read_csv("cities.csv")

In [8]:
df

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [9]:
grades = pd.read_csv("grades.csv")

In [10]:
grades

,lastname,firstname,SSN,Test1,Test2,Test3,Test4,Final,Grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

###  Describe Data

In [11]:
# Attributes - Which do not have paranthesis for example
grades.dtypes


# functions - which do have paranthesis for example
# x = df.to_csv()

lastname          object
 firstname        object
 SSN              object
        Test1     object
 Test2           float64
 Test3           float64
 Test4           float64
 Final            object
 Grade            object
dtype: object

In [12]:
grades.columns

Index(['lastname', ' firstname', ' SSN', '        Test1', ' Test2', ' Test3',
       ' Test4', ' Final', ' Grade'],
      dtype='object')

In [13]:
grades.index

RangeIndex(start=0, stop=16, step=1)

In [14]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lastname       16 non-null     object
 1    firstname     16 non-null     object
 2    SSN           16 non-null     object
 3           Test1  16 non-null     object
 4    Test2         16 non-null     float64
 5    Test3         16 non-null     float64
 6    Test4         16 non-null     float64
 7    Final         16 non-null     object
 8    Grade         15 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.2+ KB

In [15]:
grades["Last name"]

KeyError: 'Last name'

In [ ]:
len(grades)

In [ ]:
grades.to_csv("people.csv")

## Viewing and selecting the Data

In [ ]:
grades.head(5)

In [ ]:
grades.tail(5)

## loc and iloc

In [ ]:
animals = pd.Series(["cat", "dog", "mouse", "tiger", "panda", "zebra"], index = [0, 5, 2, 6, 5, 9])

In [ ]:
animals

# .loc gives you the answer with respect to the index of the data

In [ ]:
animals.loc[5]

In [ ]:
animals.loc[9]

# .iloc gives you the answer with respect to the position of the data

In [ ]:
animals.iloc[5]

In [ ]:
animals.iloc[4]

# .iloc slicing

In [ ]:
animals.iloc[:3]

In [ ]:
grades

# 2 different types to call a column

In [ ]:
grades.lastname

In [ ]:
grades["lastname"]

In [ ]:
grades[grades["lastname"] == "Dandy"]

In [ ]:
df

In [ ]:
df[df["LatD"] == 41]

In [ ]:
mails = pd.read_csv("email.csv")

In [ ]:
mails

In [ ]:
mails["email"]

In [ ]:
business = pd.read_csv("color_srgb.csv")

In [ ]:
business

In [ ]:
color = pd.read_csv("color_web_safe.csv")

In [ ]:
color

In [ ]:
colors = pd.read_csv("color_x11.csv")

In [ ]:
color

In [ ]:
colors

# Crosstab - comparing one column to another

In [ ]:
pd.crosstab(colors["HEX"], colors["RGB"])

# Groupby - it is used to compare more columns with an operation on it too for example:
# car_sales.groupby(["Company_make"]).mean() This function will give you the mean of every int or float value with respect to Company_make

In [ ]:
colors.groupby(["HEX"])

In [ ]:
color.info()

In [ ]:
business.info()

In [ ]:
df

# Visualizing the Data with pandas using matplotlib indirectly

In [ ]:
df["LatD"].plot()

In [ ]:
df["LatD"].hist()

In [ ]:
grades

# convert the Price string type data into integer type data

In [ ]:
grades['firstname'] = grades['firstname'].str..replace(['\$\,/.'], '').astype(int)

# Maniplutating Data

In [ ]:
grades

In [ ]:
grades["lastname"].str.lower()

In [ ]:
grades.lastname.str.upper()

In [ ]:
grades.lastname.str.capitalize() # or another way is grades["lastname"].str.capitalize()

In [ ]:
grades["lastname"] = grades.lastname.str.lower()

In [ ]:
grades["lastname"]

In [ ]:
grades

In [ ]:
grades.drop(7, axis = 0, inplace=True)

# For (Column axis = 1) and for (Row axis = 0)

In [ ]:
grades.lastname.drop(11, axis=0 )

In [ ]:
grades

# Sample is used to take a sample of the Data


# frac is used to take the fraction of the data 0.5 is 50% and 1 is 100%

In [ ]:
grades_shuffle = grades.sample(frac=1)

In [ ]:
grades_shuffle